{% extends 'blog/base.html' %}

{% load static %}

{% block title %}
      Python Django Development
{% endblock title %}

{% block content %}

    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8"> 
          <div class="container">
            <div class="post-single">
              <div class="post-thumbnail"><img src="{{ singel_blog.thumbnail.url }}" alt="..." class="img-fluid"></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="category">
                  {% for cat in blog.category.all %}
                  <a href="#">{{ cat }}</a>
                  {% endfor %}
                  </div>
                </div> 
                <h1>{{ singel_blog.title }}<a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
                <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{{ singel_blog.author.image.url }}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{ singel_blog.author.username }}</span></div></a>
                  <div class="d-flex align-items-center flex-wrap">       
                    <div class="date"><i class="icon-clock"></i> {{ singel_blog.timestamp }}</div>
                    <div class="views"><i class="icon-eye"></i> {{ singel_blog.view_count }}</div>
                    <div class="comments meta-last"><i class="icon-comment"></i>{{ singel_blog.comment_count }}</div>
                  </div>
                </div>
                <div class="post-body">
                  <p class="lead">{{ blog.text|safe }}</p>
                  
                <div class="post-tags">

                 {% for cat in singel_blog.category.all %}  
                   <a href="#" class="tag">#{{ cat }}</a>
                 {% endfor %}

                </div>
               
                <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">

                  {% if singel_blog.previews_post %}
                  <a href="{% url 'blog:single_post' pk=singel_blog.id %}" class="prev-post text-left d-flex align-items-center">
                    <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                    <div class="text"><strong class="text-primary">Previous Post </strong>
                      <h6>{{ singel_blog.previews_post.title }}</h6>
                    </div>
                  </a>
                  {% endif %}
                    
                    {% if singel_blog.next_post %}
                    <a href="{% url 'blog:single_post' pk=singel_blog.id %}" class="next-post text-right d-flex align-items-center justify-content-end">
                    <div class="text"><strong class="text-primary">Next Post </strong>
                      <h6>{{ singel_blog.next_post.title }}</h6>
                    </div>
                    <div class="icon next"><i class="fa fa-angle-right">   </i></div>
                    </a>
                    {% endif %}
                
                </div>


                <div class="post-comments">
                  <header>
                    <h3 class="h6">Post Comments<span class="no-of-comments">(3)</span></h3>
                  </header>

                  <div class="comment">
                    <div class="comment-header d-flex justify-content-between">
                      <div class="user d-flex align-items-center">
                        <div class="image"><img src="img/user.svg" alt="..." class="img-fluid rounded-circle"></div>
                        <div class="title"><strong>Nikolas</strong><span class="date">May 2016</span></div>
                      </div>
                    </div>
                    <div class="comment-body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                  </div>

                </div>
                <div class="add-comment">
                  <header>
                    <h3 class="h6">Leave a reply</h3>
                  </header>
                  <form action="#" class="commenting-form">
                    <div class="row">
                      <div class="form-group col-md-6">
                        <input type="text" name="username" id="username" placeholder="Name" class="form-control">
                      </div>
                      <div class="form-group col-md-6">
                        <input type="email" name="username" id="useremail" placeholder="Email Address (will not be published)" class="form-control">
                      </div>
                      <div class="form-group col-md-12">
                        <textarea name="usercomment" id="usercomment" placeholder="Type your comment" class="form-control"></textarea>
                      </div>
                      <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-secondary">Submit Comment</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </main>
        
        {% include 'blog/sidebar.html' with last_three_post=last_three_post %}

      </div>
    </div>

{% endblock content %}    